@font-face {
    font-family: 'frassel';
    src: url('/font/frassel.otf');
}
@font-face {
    font-family: 'basic';
    src: url('/font/basic.ttf');
}

body{
    font-family:'basic';
    font-weight:600;
    font-size: 20px
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h1,h2,h3,h4,h5,h6{
    font-family:'frassel'!important;
    letter-spacing:3px;
    font-weight:700
}
